<h1>Hola, soy la tienda</h1>

<ul>

<li><a href="/availableComics" class="text-base font-medium text-indigo-600 hover:text-indigo-500">Check the available comics</a></li> {{!-- pendiente de checar API --}}

<li><a href="/sell" class="text-base font-medium text-indigo-600 hover:text-indigo-500">Wanna sell with us?</a></li>

<li><a href="/otherCollections" class="text-base font-medium text-indigo-600 hover:text-indigo-500">other collections</a></li> {{!-- Pendiente de checar API --}}

</ul>