
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-10">
    <div class="space-y-12">
      <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
        
        <li>
          <div class="space-y-5 sm:space-y-1 md:max-w-xl lg:max-w-3xl xl:max-w-none">
            <h2 id="titleHome" class="ml-7 text-4xl font-bold sm:text-5xl">COMIC STORE</h2>
            <p id="subtitleHome" class="text-l text-gray-500">Check out our extensive catalog of comics</p>
          </div>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img id="imagesHome" class="object-cover shadow-lg rounded-lg" src="https://i.annihil.us/u/prod/marvel/i/mg/c/f0/6169eecb78c4c/clean.jpg" alt="">
            </div>

            <div class="space-y-2">
              <div class="text-lg leading-6 font-medium space-y-1">
                <h3>Venom (2021) #1 </h3> 
              </div>
              <div class="text-small leading-4 font-small space-y-1">
                <h4>Published: November 10, 2021</h4>
                <h4>Writer: Ram. V, Al Ewing</h4>
                <h4>Price: $5.99usd</h4>
              </div>
              <ul role="list" class="flex space-x-5">
                <li>
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-gray-400 
                  shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 
                  focus:ring-offset-2 focus:ring-gray-500">See details</button>
                </li>
                <li>
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-yellow-500 
                  shadow-sm text-xs font-medium rounded text-gray-700 bg-yellow-300 hover:bg-yellow-100 focus:outline-none focus:ring-2 
                  focus:ring-offset-2 focus:ring-yellow-500">Buy</button>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li>
          <div class="space-y-5 sm:space-y-1 md:max-w-xl lg:max-w-3xl xl:max-w-none">
            <h2 id="titleHome" class="ml-0 text-4xl font-bold sm:text-5xl">SELL YOUR COMICS</h2>
            <p id="subtitleHome" class="ml-9 text-l text-gray-500">And connect with other users</p>
          </div>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img id="imagesHome" class="object-cover shadow-lg rounded-lg" src="https://i.annihil.us/u/prod/marvel/i/mg/b/90/5b3feb60f1a30/clean.jpg" alt="">
            </div>
            <div class="space-y-2">
              <div class="text-lg leading-6 font-medium space-y-1">
                <h3>The Amazing Spider-Man (2018) #1 </h3> 
              </div>
              <div class="text-small leading-4 font-small space-y-1">
                <h4>Published: July 11, 2018 </h4>
                <h4>Writer: Nick Spencer</h4>
                <h4>Price: $5.99usd</h4>
              </div>
              <ul role="list" class="flex space-x-5">
                <li>
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-gray-400 
                  shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 
                  focus:ring-offset-2 focus:ring-gray-500">See details</button>
                </li>
                <li>
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-yellow-500 
                  shadow-sm text-xs font-medium rounded text-gray-700 bg-yellow-300 hover:bg-yellow-100 focus:outline-none focus:ring-2 
                  focus:ring-offset-2 focus:ring-yellow-500">Buy</button>
                </li>
              </ul>
            </div>
          </div>
        </li>
        
         <li>
          <div class="space-y-5 sm:space-y-1 md:max-w-xl lg:max-w-3xl xl:max-w-none">
            <h2 id="titleHome" class="ml-8 text-4xl font-bold sm:text-5xl">WHAT'S NEW?</h2>
            <p id="subtitleHome" class="ml-11 text-l text-gray-500">Subscribe to our newsletter</p>
          </div>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img id="imagesHome" class="object-cover shadow-lg rounded-lg" src="https://i.annihil.us/u/prod/marvel/i/mg/f/03/620155bf09989/clean.jpg" alt="">
            </div>
            <div class="space-y-2">
              <div class="text-lg leading-6 font-medium space-y-1">
                <h3>X Lives of Wolverine (2022) #3 </h3> 
              </div>
              <div class="text-small leading-4 font-small space-y-1">
                <h4>Published: February 16, 2022</h4>
                <h4>Writer: Benjamin Percy</h4>
                <h4>Price: $9.99usd</h4>
              </div>
              <ul role="list" class="flex space-x-5">
                <li>
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-gray-400 
                  shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 
                  focus:ring-offset-2 focus:ring-gray-500">See details</button>
                </li>
                <li>
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-yellow-500 
                  shadow-sm text-xs font-medium rounded text-gray-700 bg-yellow-300 hover:bg-yellow-100 focus:outline-none focus:ring-2 
                  focus:ring-offset-2 focus:ring-yellow-500">Buy</button>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <!-- More people... -->
      </ul>
    </div>
  </div>
