
<div class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-10 lg:py-10">
    <div class="space-y-12">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <h2 class="mx-auto px-11 text-3xl font-extrabold tracking-tight sm:text-4xl">COMIC STORE</h2>
        <p class="text-x text-pink-500">take a look at our extensive catalog of comics.</p>
      </div>
      <ul role="list" class="space-y-8 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8 sm:space-y-3 lg:grid-cols-3 lg:gap-x-8">
        <li>
          <div class="space-y-1">
            <div class="aspect-w-5 aspect-h-4">
              <img class="object-cover shadow-lg rounded-lg" src="https://i.annihil.us/u/prod/marvel/i/mg/b/90/5b3feb60f1a30/clean.jpg" alt="SpidermanComic.jpg">
            </div>

            <div class="space-y-2">
              <div class="text-lg leading-6 font-medium space-y-1">
                <h3>The Amazing Spider-man #1</h3>
                <p class="text-pink-500">Spencer, Ramos</p>
              </div>
              <ul role="list" class="flex space-x-5">
                <li>
                  <a href="#" class="text-gray-400 hover:text-gray-500">
                   <button 
                    type="button" 
                    class="inline-flex items-center justify-center px-4 py-2 border border-black-700 shadow-sm 
                    text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-pink-100 focus:outline-none focus:ring-2 focus:ring-offset-2 
                    focus:ring-offset-gray-100 focus:ring-indigo-500"> See details </button>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-gray-400 hover:text-gray-500">

                     <button 
                    type="button" 
                    class="inline-flex items-center justify-center px-4 py-2 border border-black-700 shadow-sm 
                    text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-pink-200 focus:outline-none focus:ring-2 focus:ring-offset-2 
                    focus:ring-offset-gray-100 focus:ring-indigo-500"> Buy </button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
            
        <!-- More people... -->
         
        {{!-- AQUI TERMIINA --}}
      </ul>
    </div>
  </div>
</div>