<div class="bg-white">
<h1>Crear usuario</h1>

<form action="/register" method="POST">

    <label>Username</label>
    <input name="username" type="text" />

    <label>Password</label>
    <input name="password" type="text" />

    <label>About</label>
    <input name="about" type="text" />

    <label>First Name</label>
    <input name="firstName" type="text" />

    <label>Last Name</label>
    <input name="lastName" type="text" />

    <label>Email</label>
    <input name="email" type="text" />

    <label>City</label>
    <select name="city" multiple>
        <option>Aguascalientes</option>
        <option>Guanajuato</option>
        <option>Jalisco</option>
        <option>Queretaro</option>
        <option>San Luis Potosi</option>
        <option>Zacatecas</option>
    </select>

    <button type="submit">submit</button>
</form>
</div>